@font-face {
    font-family: 'etchasketch';
    src: url('etchasketch-122z-webfont.woff2') format('woff2'),
         url('etchasketch-122z-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}